@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .line-clamp-1 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

body {
    /* @apply bg-cover bg-gradient-to-bl from-black to-teal-900 min-h-[100vh] relative; */
    @apply relative;
    /* background-color: #0B1121; */
}

html {
    color-scheme: dark;
}

* {
    transition: all 0.2s ease-in;
}



.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
    {
    opacity: 0;
}


.vagueIn-enter,
.vagueIn-leave-to {
    filter: blur(20px);
    opacity: 0.5;
}