@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-cover bg-gradient-to-bl from-black to-teal-900 min-h-[100vh] relative; */
    @apply relative;
    /* background-color: #0B1121; */
}

html {
    color-scheme: dark;
}

* {
    transition: all 0.2s ease-in;
}



.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
    {
    opacity: 0;
}


.vagueIn-enter-active,
.vagueIn-leave-active {
    transition: 0.5s;
}

.vagueIn-enter,
.vagueIn-leave-to {
    filter: blur(20px);
    opacity: 0.5;
}